# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/
rg-venv/
.env

# Ignore IDE settings
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore data files (if needed)
data/
rag_db/
rag_db*/

#Ignore session and cache data 
.flask_session/
cache/
